<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 p-4">
    <h1 class="text-2xl font-bold mb-8">Admin Page</h1>
    <h3 class="text-lg font-bold mb-4">Upload Image:</h3>
    <form action="/upload" method="post" enctype="multipart/form-data" class="mb-8">
        <input type="file" id="image" name="image" class="mb-2">
        <input type="submit" value="Upload Image" name="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    </form>
    <h3 class="text-lg font-bold mb-4">Delete Image:</h3>
    <ul>
        {{range .}}
        <li class="flex items-center mb-2">
            <form action="/admin/delete/{{.}}" method="post" class="mr-2">
                <input type="submit" value="Delete" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">
            </form>
            <a href="/images/{{.}}" class="text-blue-500">{{.}}</a>
        </li>
        {{end}}
    </ul>
</body>
</html>
